

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;         /* Schriftart der ganzen Seite */
    background-image: url(images/Designer.png);                                     /* Hintergrund der ganzen Seite */
    background-position: center;                                                    /* Ausrichtung des Hintergrundbildes */
    color: whitesmoke;                                                            /* Schriftfarbe */
}




.heute {
    color: black;
    border: 3px solid black;                                                      /* Rahmen für den heutigen Tat */
    background-image: url(images/hintergrund\ text.png);                            /* Hintergrund für den heutigen Tag */
    background-position: center;                                                    /* Ausrichtung des Hintergrundbildes */                                                                /
}

table {
    border-collapse: collapse;   
    width: 50%;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

th, td {  
    border: 5px solid black;
    padding: 10px;
    color: white;
}

td {
     transition: background-color 0.5s ease,                       
                 transform 0.5s ease; 
}


td:hover {
    background-image: url(images/hintergrund\ text.png);
    background-position: center;
    border-radius: 10px;
    scale: 1.03;
    cursor: pointer;
    color: black;
}

th {
    }

.wichtige_überschrift {
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    background-image: url(images/hintergrund\ überschrift.png);
    background-position: center;
}

.wichtiger_text {
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px rgba(17, 16, 16, 0.7);
    padding: 5px;
    background-image: url(images/hintergrund\ überschrift.png);
    background-position: center;
    width: 70%
}

li {
    margin-bottom: 10px;
}

